* {
  box-sizing: border-box;
}

body {
  background-color: #111112;
  font-family: "PP Pangram Sans";
}

section {
  padding-bottom: 8vw;
}

h1, h2, p {
  color: #F2F2F2;
  margin-left: 19vw;
}

h1 {
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 5vw;
  padding-top: 8vw;
}

h2 {
  font-size: 3vw;
  margin-bottom: 1.8vw;
  margin-top: 12vw;
  line-height: 113%;

}

p {
  font-size: 1.52vw;
  line-height: 137%;
}

/* Меню */

.menu {
  position: fixed;
  margin-top: 14vw;
  padding: 0 0 0 3vw;
  z-index: 20;
}

.menu ul {
  font-size: 1.52vw;
  opacity: .5;
}

.menu ul:hover {
  opacity: 1;
  transition: .4s ease;
}

.menu ul:not(:hover) {
  transition: .7s ease;
}

.menu li {
  margin-bottom: .8vw;
}

.menu a {
  color: #FC62FF;
  text-decoration: none;
}

.menu a:hover {
  opacity: .5;
}


/* Первый экран */

.header {
  grid-row: 1/2;
  grid-column: 2/3;
  padding: 14vw 7vw 14vw 19vw;
}

.header h2 {
  margin: 0;
}

.logo {
  width: 100%;
  margin-top: 2vw;
}


/* О бренде */

.about {
  grid-area: 2/2/3/3;
}

.about .concept {
  margin-top: 0;
}

.concept + p {
  max-width: 41vw;
}

.personality {
  font-size: 3vw;
  font-weight: 500;
  color: white;
  margin-top: 5.5vw;
  user-select: none;
}

.personality .first_row {
  display: flex;
  justify-content: space-between;
  width: 46vw;
  margin-bottom: 1.5vw;
}

.personality .second_row {
  display: flex;
  justify-content: space-between;
  width: 39vw;
  margin-bottom: 1.5vw;
}

.personality .third_row {
  display: flex;
  justify-content: space-between;
  width: 58vw;
}

.bright:hover {
  color: #EBFF00 ;
  transition: .7s ease;
}

.free:hover {
  color: #EBFF00 ;
  transition: .7s ease;
}

.fashionable:hover {
  color: #FC62FF ;
  transition: .7s ease;
}

.experimental:hover {
  color: #FC62FF ;
  transition: .7s ease;
}

.active:hover {
  color: #33FEB4 ;
  transition: .7s ease;
}

.creattive:hover {
  color: #33FEB4 ;
  transition: .7s ease;
}

.influential:hover {
  color: #33FEB4 ;
  transition: .7s ease;
}

.values ~ p {
  max-width: 26vw;
  margin-bottom: 1.3vw;
}

.mission + p {
  max-width: 30vw;
}

.identity + p {
  max-width: 42vw;
}


/* Логотип */

.logotype {
  padding-top: 0;
  z-index: 10;
  padding-bottom: 0vw;
}

.logo_field {
  background-color: #F2F2F2;
}

.logotype .meaning {
  margin-top: 0;
}

.bg {
  background-color: #F2F2F2;
  padding-bottom: 5vw;

}

.meaning_table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  grid-row-gap: 2vw;
}

.meaning_table p {
  margin-left: 0;
}

/* .bold, .lines, .arrow, .symbol, .trust {
  display: inline-block;
} */


.first_line {
  margin-bottom: 2vw;
}

.arrow {
  width: 10vw;
  justify-self: center;
}

.trust, .symbol {
  max-width: 26vw;
}

.logo_about {
  width: 81vw;
  margin-top: 8vw;
}

p.build, p.usage {
  max-width: 30vw;
}

.black_txt {
  color: #111112;
}

.build_schema, .field {
  width: 50%;
  margin-top: 8vw;
  margin-left: 19vw;
}

.logo_use {
  margin-bottom: 5vw;
}

.logo_use_1 {
  width: 23vw;
  margin-right: 5vw;
}

.logo_use_2 {
  width: 14vw;
  margin-right: 5vw;
}

.logo_use_3 {
  width: 8vw;
}

.sign_bg {
  grid-area: 5/1/6/3;
  height: 117vw;
  background-color: #F2F2F2;
}

.sign {
  max-width: 32vw;
}

.sign_1 {
width: 15vw;
margin-top: 8vw;
margin-right: 7vw;
margin-left: 19vw;
}

.sign_2 {
width: 8vw;
}

.wrong_use {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
align-items: center;
margin-top: 2vw;
margin-left: 19vw;
}

.wrong_use_txt {
color: #111112;
margin-left: 0;
}

.wrong_use_pic {
width: 24vw;
}

/* Цвета */

.choose {
margin-top: 0;
}

.palette {
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 8vw;
column-gap: 1vw;
}

.palette img {
max-width: 38vw;
}

.illustration {
margin-left: 19vw;
padding-right: 3vw;
margin-top: 8vw;
}

.topper {
padding-top: 5vw;
margin-top: 0;
}

.colors p {
max-width: 24vw;
}

.right_colors {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-column-gap: 1vw;
grid-row-gap: 1vw;
margin-top: 8vw;
}

.right_colors img {
width: 38vw;
}

.wrong_colors {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-column-gap: 1vw;
grid-row-gap: 1vw;
margin-top: 8vw;
width: 62vw;
}

.wrong_colors img {
width: 27vw;
}

/* Типографика */

.typography {
background-color: #F2F2F2;
}

.fonts h2 {
color: #111112;
margin-left: 0;
}

.fonts p {
color: #111112;
margin-left: 0;
}

.fonts {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
row-gap: 3vw;
}

.about_font, .alphabet {
max-width: 27vw;
}

.alphabet {
margin-top: 1.8vw;
}

.third_block {
grid-column-start: 2;
}

.first_block h2 {
margin-top: 0;
}

.second_block h2 {
margin-top: 0;
}

.third_block h2 {
margin-top: 0;
}

.sizes {
display: grid;
grid-template-columns: 1fr 1fr;
}

.sizes h2 {
margin-top: 0;
}

.size {
margin-bottom: 0;
}

/* Сетка */

.table {
display: grid;
grid-template-columns: 1fr 1fr;
}

.table img {
width: 38vw;
margin-left: 8vw;
align-self: center;
}

.about_grid p {
max-width: 31vw;
}

.space {
margin-bottom: 2vw;
}

.squares {
display: flex;
justify-content: space-between;
margin-top: 8vw;
}

.squares img {
width: 25vw;
}

.verticals {
display: grid;
grid-template-columns: 1fr 1fr;
padding-right: 22vw;
margin-top: 8vw;
row-gap: 3vw;
}

.verticals img {
width: 26vw;
}

.horizontals {
margin-top: 8vw;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 1vw;
padding-right: 20vw;
}

.horizontals img {
width: 30vw;
}

/* Фото */

.photography {
background-color: #F2F2F2;
}

.photo_palette {
display: flex;
justify-content: space-between;
padding-right: 29vw;
margin-top: 8vw;
}

.color_block {
width: 6vw;
height: 15vw;
}

.photography p {
max-width: 32vw;
}

#pink {
background-color: #CB2ED9;
}

#coral {
background-color: #E8357D;
}

#red {
background-color: #E8606E;
}

#yellow {
background-color: #F0EA7E;
}

#green {
background-color: #B5ED8E;
}

#blue {
background-color: #0397DE;
}

#darkblue {
background-color: #032FCE;
}

#grey1 {
background-color: #12232C;
}

#grey2 {
background-color: #39669C;
}

#grey3 {
background-color: #8A98B6;
}

#grey4 {
background-color: #DEDEDE;
}

#grey5 {
background-color: #698389;
}

#grey6 {
background-color: #243024;
}

#grey7 {
background-color: #1A1917;
}

.prgrf {
margin-top: 12vw;
}

.photos {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 1vw;
margin-right: 14vw;
margin-top: 8vw;
}

.photos img {
height: 20vw;
}

#ph1 {
grid-area: 1/1/2/3;
}

#ph2 {
grid-area: 1/3/2/4;
}

#ph3 {
grid-area: 1/4/2/5;
}

#ph4 {
grid-area: 2/1/3/3;
}

#ph5 {
grid-area: 2/3/3/5;
}

#ph6 {
grid-area: 3/1/4/2;
}

#ph7 {
grid-area: 3/2/4/3;
}

#ph8 {
grid-area: 3/3/4/5;
}

/* Графика */

.scale {
width: 40vw;
}

.gr {
width: 40vw;
}

.colors_sh {
width: 29.4vw;
}

.examples {
display: grid;
grid-template-columns: 1fr 1fr;
grid-auto-rows: 1fr 1fr;
grid-gap: 1vw;
padding-right: 18vw;
}

.ex1 {
grid-area: 1/1/2/2;
width: 31vw;
}

.ex3 {
grid-area: 1/2/3/3;
width: 27vw;
}

.ex2 {
grid-area: 2/1/3/2;
width: 31vw;
}

.graphic p {
width: 34vw;
}

/* Tone of voice */

.tone {
background-color: #F2F2F2;
}

.tone p {
width: 37vw;
}

.rek {
width: 54vw;
}

.n2 {
margin-top: 1vw;
}

footer {
display: flex;
justify-content: space-between;
margin: 5vw 3vw;
}

footer p {
margin: 0;
}
