@import "reset.css";
@font-face {
  font-family: 'PP Pangram Sans';
	src: url('../fonts/PPPangramSans-Semibold.otf');
	font-weight: bold;
}
@font-face {
  font-family: 'PP Pangram Sans';
	src: url('../fonts/PPPangramSans-Medium.otf');
	font-weight: medium;
	font-style: normal;
}
